In [31]:
import geopandas as gpd

opatlas = gpd.read_file("/work/data/opatlas_ny.geojson").set_geometry("geometry")

In [32]:
opatlas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             2089 non-null   object
 1   household_income  2089 non-null   float64
 2   ranking           2089 non-null   object
 3   geometry          2089 non-null   geometry
dtypes: float64(1), geometry(1), object(2)
memory usage: 65.4+ KB

In [33]:
opatlas.head()

,geoid,household_income,ranking,geometry
0,36047080800,72670.0,very high,"MULTIPOLYGON (((-73.93686 40.65794, -73.93633 ..."
1,36081114100,71410.0,very high,"MULTIPOLYGON (((-73.79566 40.77304, -73.79522 ..."
2,36047000301,65260.0,very high,"MULTIPOLYGON (((-73.99429 40.69854, -73.99460 ..."
3,36047004400,65049.0,very high,"MULTIPOLYGON (((-74.03316 40.63273, -74.03047 ..."
4,36081099705,64885.0,very high,"MULTIPOLYGON (((-73.76696 40.77990, -73.76689 ..."

## Load affordable unit data

In [34]:
import geopandas as gpd

units = gpd.read_file("/work/data/affordable_units.geojson")
units.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Project ID                          3637 non-null   int64
 1   Project Name                        3637 non-null   object
 2   Program Group                       3637 non-null   object
 3   Project Start Date                  3637 non-null   object
 4   Project Completion Date             2395 non-null   object
 5   Building ID                         3637 non-null   float64
 6   Number                              3637 non-null   object
 7   Street                              3637 non-null   object
 8   Borough                             3637 non-null   object
 9   Postcode                            3637 non-null   float64
 10  BBL                                 3577 non-null   float64
 11  BIN                                 2445 non-null   float64
 12  Community Board                     3637 non-null   object
 13  Council District                    3637 non-null   float64
 14  Census Tract                        3637 non-null   object
 15  NTA - Neighborhood Tabulation Area  3637 non-null   object
 16  Latitude                            3637 non-null   float64
 17  Longitude                           3637 non-null   float64
 18  Latitude (Internal)                 3571 non-null   float64
 19  Longitude (Internal)                3571 non-null   float64
 20  Building Completion Date            2553 non-null   object
 21  Reporting Construction Type         3637 non-null   object
 22  Extended Affordability Only         3637 non-null   object
 23  Prevailing Wage Status              3637 non-null   object
 24  Extremely Low Income Units          3637 non-null   int64
 25  Very Low Income Units               3637 non-null   int64
 26  Low Income Units                    3637 non-null   int64
 27  Moderate Income Units               3637 non-null   int64
 28  Middle Income Units                 3637 non-null   int64
 29  Other Income Units                  3637 non-null   int64
 30  Studio Units                        3637 non-null   int64
 31  1-BR Units                          3637 non-null   int64
 32  2-BR Units                          3637 non-null   int64
 33  3-BR Units                          3637 non-null   int64
 34  4-BR Units                          3637 non-null   int64
 35  5-BR Units                          3637 non-null   int64
 36  6-BR+ Units                         3637 non-null   int64
 37  Unknown-BR Units                    3637 non-null   int64
 38  Counted Rental Units                3637 non-null   int64
 39  Counted Homeownership Units         3637 non-null   int64
 40  All Counted Units                   3637 non-null   int64
 41  Total Units                         3637 non-null   int64
 42  index_right                         3511 non-null   float64
 43  geoid                               3511 non-null   object
 44  household_income                    3511 non-null   float64
 45  ranking                             3511 non-null   object
 46  geometry                            3637 non-null   geometry
dtypes: float64(11), geometry(1), int64(19), object(16)
memory usage: 1.3+ MB

In [35]:
units.head()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units,index_right,geoid,household_income,ranking,geometry
0,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,None,991157.0,27-01,JACKSON AVENUE,Queens,11101.0,...,0,50,0,50,164,1385.0,36081001900,31158.0,low,POINT (-73.94051 40.74779)
1,65503,LIC RAMPS,Multifamily Incentives Program,06/30/2020,None,991158.0,26-32,JACKSON AVENUE,Queens,11101.0,...,0,106,0,106,348,1385.0,36081001900,31158.0,low,POINT (-73.94113 40.74755)
2,70016,1119 BROADWAY,Multifamily Incentives Program,06/30/2020,None,213679.0,1119,BROADWAY,Brooklyn,11221.0,...,0,3,0,3,10,1154.0,36047039300,34151.0,moderate,POINT (-73.92949 40.69375)
3,70017,639 FOSTER AVENUE,Multifamily Incentives Program,06/30/2020,None,991282.0,639,FOSTER AVENUE,Brooklyn,11230.0,...,0,7,0,7,22,674.0,36047048200,41874.0,high,POINT (-73.97014 40.63068)
4,70018,THE STRAND,Multifamily Incentives Program,06/30/2020,None,699653.0,18-68,TROUTMAN STREET,Queens,11385.0,...,0,40,0,40,132,688.0,36081053900,41679.0,high,POINT (-73.91818 40.71114)

In [36]:
config = {'version': 'v1',
 'config': {'visState': {'filters': [],
   'layers': [{'id': 'z4mox1k',
     'type': 'geojson',
     'config': {'dataId': 'Affordable Units',
      'label': 'Affordable Units',
      'color': [33, 42, 31],
      'columns': {'geojson': 'geometry'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'strokeOpacity': 0.8,
       'thickness': 0.5,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 2.6,
       'sizeRange': [0, 10],
       'radiusRange': [0, 50],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'stroked': True,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': None,
      'radiusScale': 'linear'}},
    {'id': 'hy5ii3',
     'type': 'geojson',
     'config': {'dataId': 'Tracts',
      'label': 'Tracts',
      'color': [30, 150, 190],
      'columns': {'geojson': 'geometry'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'strokeOpacity': 0.8,
       'thickness': 0.1,
       'strokeColor': [45, 29, 16],
       'colorRange': {'name': 'ColorBrewer RdYlGn-6',
        'type': 'diverging',
        'category': 'ColorBrewer',
        'colors': ['#d73027',
         '#fc8d59',
         '#fee08b',
         '#d9ef8b',
         '#91cf60',
         '#1a9850']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radius': 10,
       'sizeRange': [0, 10],
       'radiusRange': [0, 50],
       'heightRange': [0, 500],
       'elevationScale': 5,
       'stroked': True,
       'filled': True,
       'enable3d': False,
       'wireframe': False},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': {'name': 'household_income',
       'type': 'integer'},
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear',
      'heightField': None,
      'heightScale': 'linear',
      'radiusField': None,
      'radiusScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'Tracts': [{'name': 'geoid',
        'format': None},
       {'name': 'household_income', 'format': None},
       {'name': 'ranking', 'format': None}],
      'Affordable Units': [{'name': 'Project ID', 'format': None},
       {'name': 'Project Name', 'format': None},
       {'name': 'Program Group', 'format': None},
       {'name': 'Project Start Date', 'format': None},
       {'name': 'Project Completion Date', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 40.696149433386886,
   'longitude': -74.0110755261806,
   'pitch': 0,
   'zoom': 9.943268701719875,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [37]:
import keplergl

# w1 = keplergl.KeplerGl(height=500, data={"Tracts": opatlas, "Affordable Units": units}, config=config)
# opatlas.geometry = opatlas.geometry.astype("object")
# w1 = keplergl.KeplerGl(height=500, data={"Tracts": opatlas.head()}, config=config)
w1 = keplergl.KeplerGl(config=config)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [38]:
w1

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'z4mox1k', 'type': …

In [39]:
w1.add_data(data=opatlas, name="Tracts")
w1.add_data(data=units, name="Affordable Units")

In [40]:
w1.save_to_html(file_name='index.html')

Map saved to index.html!

In [ ]:
url = 'http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_040_00_500k.json'
country_gdf = geopandas.read_file(url)
w1.add_data(data=country_gdf, name="state")

In [1]:
from keplergl import KeplerGl
map_1 = KeplerGl()
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/opt/conda/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

KeplerGl()

In [3]:
url = 'http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_040_00_500k.json'
country_gdf = gpd.read_file(url)
map_1.add_data(data=country_gdf, name="state")

In [4]:
map_1.save_to_html(file_name='index.html')

Map saved to index.html!

In [5]:
country_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GEO_ID      52 non-null     object
 1   STATE       52 non-null     object
 2   NAME        52 non-null     object
 3   LSAD        52 non-null     object
 4   CENSUSAREA  52 non-null     float64
 5   geometry    52 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.6+ KB

In [6]:
opatlas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             2089 non-null   object
 1   household_income  2089 non-null   float64
 2   ranking           2089 non-null   object
 3   geometry          2089 non-null   geometry
dtypes: float64(1), geometry(1), object(2)
memory usage: 65.4+ KB

In [7]:
country_gdf.geometry.dtype

dtype('O')

In [9]:
opatlas.geometry.astype("O").dtype

dtype('O')

In [ ]:
opatlas_test[]

In [62]:
opatlas.geometry.astype("object")

0       (POLYGON ((-73.93686392947123 40.6579421706531...
1       (POLYGON ((-73.79565702077424 40.7730360862120...
2       (POLYGON ((-73.99429211012634 40.6985350800010...
3       (POLYGON ((-74.03315548281171 40.6327349737255...
4       (POLYGON ((-73.76695800144776 40.7798995811539...
                              ...
2084    (POLYGON ((-73.9344004000943 40.81966778293705...
2085    (POLYGON ((-73.91094778957398 40.8136209207373...
2086    (POLYGON ((-73.9019821814221 40.66967007119862...
2087    (POLYGON ((-73.9104901068166 40.83073737253014...
2088    (POLYGON ((-73.99301822153384 40.6974623645668...
Name: geometry, Length: 2089, dtype: object

In [59]:
units.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3637 entries, 0 to 3636
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Project ID                          3637 non-null   int64
 1   Project Name                        3637 non-null   object
 2   Program Group                       3637 non-null   object
 3   Project Start Date                  3637 non-null   object
 4   Project Completion Date             2395 non-null   object
 5   Building ID                         3637 non-null   float64
 6   Number                              3637 non-null   object
 7   Street                              3637 non-null   object
 8   Borough                             3637 non-null   object
 9   Postcode                            3637 non-null   float64
 10  BBL                                 3577 non-null   float64
 11  BIN                                 2445 non-null   float64
 12  Community Board                     3637 non-null   object
 13  Council District                    3637 non-null   float64
 14  Census Tract                        3637 non-null   object
 15  NTA - Neighborhood Tabulation Area  3637 non-null   object
 16  Latitude                            3637 non-null   float64
 17  Longitude                           3637 non-null   float64
 18  Latitude (Internal)                 3571 non-null   float64
 19  Longitude (Internal)                3571 non-null   float64
 20  Building Completion Date            2553 non-null   object
 21  Reporting Construction Type         3637 non-null   object
 22  Extended Affordability Only         3637 non-null   object
 23  Prevailing Wage Status              3637 non-null   object
 24  Extremely Low Income Units          3637 non-null   int64
 25  Very Low Income Units               3637 non-null   int64
 26  Low Income Units                    3637 non-null   int64
 27  Moderate Income Units               3637 non-null   int64
 28  Middle Income Units                 3637 non-null   int64
 29  Other Income Units                  3637 non-null   int64
 30  Studio Units                        3637 non-null   int64
 31  1-BR Units                          3637 non-null   int64
 32  2-BR Units                          3637 non-null   int64
 33  3-BR Units                          3637 non-null   int64
 34  4-BR Units                          3637 non-null   int64
 35  5-BR Units                          3637 non-null   int64
 36  6-BR+ Units                         3637 non-null   int64
 37  Unknown-BR Units                    3637 non-null   int64
 38  Counted Rental Units                3637 non-null   int64
 39  Counted Homeownership Units         3637 non-null   int64
 40  All Counted Units                   3637 non-null   int64
 41  Total Units                         3637 non-null   int64
 42  index_right                         3511 non-null   float64
 43  geoid                               3511 non-null   object
 44  household_income                    3511 non-null   float64
 45  ranking                             3511 non-null   object
 46  geometry                            3637 non-null   geometry
dtypes: float64(11), geometry(1), int64(19), object(16)
memory usage: 1.3+ MB